---
- name: Descargar y ejecutar script de PowerShell
  hosts: HSOMXNLSVADDC01_4232af34-2fd7-9b99-69d6-68a58332e677
  tasks:
    - name: Descargar el script desde GitHub
      win_get_url:
        url: "https://raw.githubusercontent.com/AlbanAndrieu/ansible-windows/master/files/ConfigureRemotingForAnsible.ps1"
        dest: "C:\\Users\\eugen\\Desktop\\script.ps1"

    - name: Ejecutar el script de PowerShell
      win_shell: |
        powershell.exe -ExecutionPolicy Bypass -File C:\\Users\\eugen\\Desktop\\script.ps1
    
    - name: Eliminar el archivo instalador
      win_file:
        path: C:\\Users\\eugen\\Desktop\\script.ps1
        state: absent
  