---
- name: Descargar y ejecutar script de PowerShell
  hosts: all
  gather_facts: true
 
  tasks:
  - name: Establecer conexión basada en el sistema operativo
    set_fact:
      ansible_connection: "{{ 'winrm' if ansible_facts['os_family'] == 'Windows' else 'ssh' }}"
      ansible_winrm_server_cert_validation: "{{ 'ignore' if ansible_facts['os_family'] == 'Windows' else omit }}"
          
  - name: create groups based on distro
    group_by: 
        key: "{{ ansible_os_family }}"
          
  - name: Mostras sistema
    debug:
      msg: "Es sistema operativo que  está instalado es {{ ansible_os_family }}"

      
  - name: Distribuciones basadas en windows
    hosts: Windows
    tasks:
    - name: Mostras sistema
      debug:
        msg: "Es sistema operativo que  está instalado es {{ ansible_os_family }}"


 

  
